logs
project/project
project/target
target
tmp
dist

sbt-launch.jar

node_modules
.npm-debug.log

.DS_Store
._.DS_Store
._*

ng-app/modules/build
ng-app/modules/dist
ng-app/components
public/ng-app

play.h2.db
play.lock.db
play.trace.db